/* Themed navbar */
.themed-navbar {
  background-color: var(--background-color) !important;
  padding: 0.5rem;
  z-index: 100;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  display: flex;
  align-items: center;
}

/* Spread and style links */
.nav-links {
  display: flex;
  justify-content: flex-end; /* Move links to the right */
  gap: 1.5rem;
  list-style: none;
  padding-left: 0;
  margin: 0;
  
  flex: 1; /* Push to the right side */
}

.nav-link {
  color: var(--text-color) !important;
  font-weight: bolder;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;

}

/* Underline on hover */
.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
   
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: rgb(2, 133, 194) !important;
}

/* Theme toggle button on right */
.theme-toggle-btn {
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  margin-left: 1rem;
   
  
}

/* Light theme button */
[data-theme='light'] .theme-toggle-btn {
  background: #000;  /* Black button */
  color: #fff;
}

/* Dark theme button */
[data-theme='dark'] .theme-toggle-btn {
  background: #fff;  /* White button */
  color: #000;

}


