#projects .card {
  transition: transform 0.3s ease;
 
}

#projects .card:hover {
  transform: translateY(-5px);
}

.zoom-container {
  overflow: hidden;
}

.zoom-img {
  transition: transform 0.4s ease;
}

.zoom-container:hover .zoom-img {
  transform: scale(1.1);
}
